html {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

body {
  background: #433c5e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222831;
  font-size: 16px;
  line-height: 1.5;
  height: 100%; }

.outer-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.inner-container {
  max-width: 590px;
  background: #FFFFFF;
  box-shadow: 2px 4px 25px 0px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* header */
.header {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5; }

.ver-num {
  font-weight: regular;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #3d4858; }

.info-text {
  font-size: 12px;
  color: #3d4858;
  display: block;
  line-height: 1.5;
  margin-top: 5px;
  text-align: center; }

.checkin-btn {
  display: flex;
  flex-direction: row;
  padding: 16px 32px;
  margin: 16px;
  cursor: pointer;
  border: 2px solid #fefa99;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  font-size: 20px;
  color: #fefa99;
  background: #433c5e;
  box-shadow: 0px 3px 0px 0px #d4cd1b; }
  .checkin-btn:active {
    transform: translateY(1.5px);
    -moz-transform: translateY(1.5px);
    webkit-transform: translateY(1.5px); }

/* Map */
#checkinMap {
  width: 500px;
  height: 500px;
  margin-top: 10px; }
